<!DOCTYPE html>
<html>
	<head>
		<title>Checkr.com</title>
	</head>

	<body>
		<div class="background">
		</div>
		
		<nav>
			<div class="premier-menu">
				<a href="https://applicant.checkr.com/">I Am an Applicant</a>
				<a href="https://docs.checkr.com/">API & Docs</a>
				<a href="https://checkr.com/about/">About Us</a>
				<a href="https://checkr.com/careers/">Careers</a>
			</div>
			<div class="deuxième-menu">
				<%=image_tag "https://checkr.com/wp-content/themes/checkr/assets/img/logo.svg", id:"logo"%>
				<ul class="menu-1">
					<li class="sous-menu-1">
						<a href="#">PRODUCT</a>
						<ul class="menu-2">
    						<li><a href="https://checkr.com/product/">Overview</a></li>
   							<li><a href="https://checkr.com/product/screenings/">Screenings</a></li>
    						<li><a href="https://checkr.com/product/compliance/">Compliance</a></li>
    						<li><a href="https://checkr.com/product/security/">Security</a></li>
  						</ul>
					</li>
					<li class="sous-menu-2">
						<a href="#">INDUSTRIES</a>
						<ul class="menu-2">
							<li><a href="https://checkr.com/industries/">Overview</a></li>
							<li><a href="https://checkr.com/industries/financial-services/">Financial-services</a></li>
							<li><a href="https://checkr.com/industries/healthcare/">Healthcare</a></li>
							<li><a href="https://checkr.com/industries/staffing/">Staffing</a></li>
							<li><a href="https://checkr.com/industries/manufacturing/">Manufacturing</a></li>
							<li><a href="https://checkr.com/industries/small-business/">Small-Business</a></li>
						</ul>
						<ul class="menu-2">
							<li><a href="https://checkr.com/industries/contact-centers/">Contact-Centers</a></li>
							<li><a href="https://checkr.com/industries/retail-hospitality/">Retail-Hospitality</a></li>
							<li><a href="https://checkr.com/industries/nonprofit/">Non Profit</a></li>
							<li><a href="https://checkr.com/industries/on-demand-economy/">On-Demand Economy</a></li>
							<li><a href="https://checkr.com/industries/software-and-technology/">Software-and-technology</a></li>
							<li><a href="https://checkr.com/industries/p2p-marketplaces/">P2P MarketPlaces</a></li>
						</ul>
					</li>
					<li class="sous-menu-3">
						<a href="#">RESOURCES</a>
						<ul class="menu-2">
							<li><a href="https://checkr.com/resources/">Overview</a></li>
							<li><a href="https://checkr.com/resources/white-papers/">Guides &White Papers</a></li>
							<li><a href="https://checkr.com/resources/faq/">FAQ</a></li>
						</ul>
					</li>
					<li class="login">
					<a href="https://dashboard.checkr.com/login?next=%2Freports">Login</a>
					</li>
					<li class="started">
						<a href="https://checkr.com/get-started">GET STARTED</a>
					</li>
				</div>
			</div>
			<div class="presentation">
				<div class="titre">
					<p>HIRE GREAT PEOPLE.<br/> FASTER.</p>
		
					<p>Checkr provides modern and compliant background<br/> checks for global enterprises and startups.</p>
				</div>
				<div id="video">
                	<video src="https://checkr.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" autoplay="true" preload="auto" loop="true" poster="checkr/Checkr_Hero_poster.png">
                    </video>
            	</div>
            </div>

		</nav>
	</body>